<div>
  <a id="site-logo" href="#">
    <img id="website-logo-nav" alt="NEXUS" width="50" height="50" src="/images/nexus.png">
  </a>

  <ul class="nav-pages">
    <li><a href="/">Home</a></li>
    <li><a href="#about">About</a></li>
    <li>
      <a title="YouTube" href="https://www.youtube.com/c/rioforce" rel="noopener noreferrer" target="_blank">
        <img width="30" height="27" src="/images/youtube.svg">
      </a>
    </li>
    <li>
      <a title="Instagram" href="https://instagram.com/rioforce" rel="noopener noreferrer" target="_blank">
        <img width="22" height="25" src="/images/instagram.svg">
      </a>
    </li>
  </ul>
</div>
